<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Remark</key>
	<string>黑色皮肤</string>
	<key>text</key>
	<dict>
		<key>text_h1</key>
		<dict>
			<key>Remark</key>
			<string>文字-主/标题</string>
			<key>Color</key>
			<string>#E5E5E5</string>
		</dict>
		<key>text_placeholder</key>
		<dict>
			<key>Remark</key>
			<string>文字-输入框预设</string>
			<key>Color</key>
			<string>#6B6D76</string>
		</dict>
		<key>text_orange</key>
		<dict>
			<key>Remark</key>
			<string>文字-橙色</string>
			<key>Color</key>
			<string>#F5A623</string>
		</dict>
	</dict>
	<key>line</key>
	<dict>
		<key>line_color</key>
		<dict>
			<key>Remark</key>
			<string>Line-线条颜色</string>
			<key>Color</key>
			<string>#050401</string>
		</dict>
	</dict>
	<key>tabbar</key>
	<dict>
		<key>tabbar_select_color</key>
		<dict>
			<key>Remark</key>
			<string>Tabbar-选中颜色</string>
			<key>Color</key>
			<string>#5AC1A6</string>
		</dict>
		<key>tabbar_bg_color</key>
		<dict>
			<key>Remark</key>
			<string>Tabbar-背景颜色</string>
			<key>Color</key>
			<string>#000000</string>
		</dict>
	</dict>
	<key>navigation</key>
	<dict>
		<key>navigation_title_color</key>
		<dict>
			<key>Remark</key>
			<string>Navigation-标题颜色</string>
			<key>Color</key>
			<string>#5AC1A6</string>
		</dict>
		<key>navigation_bg_color</key>
		<dict>
			<key>Remark</key>
			<string>Navigation-背景颜色</string>
			<key>Color</key>
			<string>#000000</string>
		</dict>
	</dict>
	<key>block</key>
	<dict>
		<key>block_table_bg</key>
		<dict>
			<key>Remark</key>
			<string>块-tab-背景色</string>
			<key>Color</key>
			<string>#242B36</string>
		</dict>
		<key>block_bg</key>
		<dict>
			<key>Remark</key>
			<string>块-背景</string>
			<key>Color</key>
			<string>#141922</string>
		</dict>
	</dict>
</dict>
</plist>
