<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Remark</key>
	<string>白色皮肤</string>
	<key>text</key>
	<dict>
		<key>text_h1</key>
		<dict>
			<key>Remark</key>
			<string>文字-主/标题</string>
			<key>Color</key>
			<string>#333333</string>
		</dict>
		<key>text_placeholder</key>
		<dict>
			<key>Remark</key>
			<string>文字-输入框预设</string>
			<key>Color</key>
			<string>#C9C9CA</string>
		</dict>
		<key>text_orange</key>
		<dict>
			<key>Remark</key>
			<string>文字-橙色</string>
			<key>Color</key>
			<string>#FF8200</string>
		</dict>
	</dict>
	<key>line</key>
	<dict>
		<key>line_color</key>
		<dict>
			<key>Remark</key>
			<string>Line-线条颜色</string>
			<key>Color</key>
			<string>#f2f2f2</string>
		</dict>
	</dict>
	<key>tabbar</key>
	<dict>
		<key>tabbar_select_color</key>
		<dict>
			<key>Remark</key>
			<string>Tabbar-选中颜色</string>
			<key>Color</key>
			<string>#5AC1A6</string>
		</dict>
		<key>tabbar_bg_color</key>
		<dict>
			<key>Remark</key>
			<string>Tabbar-背景颜色</string>
			<key>Color</key>
			<string>#FFFFFF</string>
		</dict>
	</dict>
	<key>navigation</key>
	<dict>
		<key>navigation_title_color</key>
		<dict>
			<key>Remark</key>
			<string>Navigation-标题颜色</string>
			<key>Color</key>
			<string>#FFFFFF</string>
		</dict>
		<key>navigation_bg_color</key>
		<dict>
			<key>Remark</key>
			<string>Navigation-背景颜色</string>
			<key>Color</key>
			<string>#5AC1A6</string>
		</dict>
	</dict>
	<key>block</key>
	<dict>
		<key>block_table_bg</key>
		<dict>
			<key>Remark</key>
			<string>块-tab-背景色</string>
			<key>Color</key>
			<string>#FFFFFF</string>
		</dict>
		<key>block_bg</key>
		<dict>
			<key>Remark</key>
			<string>块-背景</string>
			<key>Color</key>
			<string>#F2F2F2</string>
		</dict>
	</dict>
</dict>
</plist>
